[Desktop Entry]
Name=Chrome
Exec=chromium-browser --disable-component-update --incognito --start-fullscreen --disable-session-crashed-bubble --disable-infobars http://172.19.1.106:9090/bundles/bethel-service-robot/graphics/kidsslides.html
